<div class="row">
  <div class="col-sm-12">
    
    <div class="panel panel-default">
      <div class="panel-body">
        <a href='#'>
          <span class="label label-default"><span class="glyphicon glyphicon-time"></span> {{move.timestamp}}</span>
        </a>
    
        <br><br>
    
        <blockquote>
          <p>{{move.text}} TGM.</p>
        </blockquote>
    
        <ul class="nav nav-pills navbar-warning">

        </ul>
      </div>
    </div>
    
  </div>
</div>

<br><br>