{{#if show}}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <img src="/assets/img/grandmother.png" class="img-responsive"/>
      </div>
      <div class="col-sm-9">
        <h1>My gosh, look at how big you've gotten!</h1>
        <p></p>
        <p>{{#link-to 'popular' class='btn btn-primary btn-lg' role='button'}}#TGM{{/link-to}}</p>
      </div>
    </div>

  </div>
</div>
{{/if}}